<div *ngIf="this.profile">
  <div [@visibilityChanged]="visible" >
    <div class="container">
      <div class="content">
        <div class="centeredImg">
          <img src="../../assets/muhFace.jpg"/>
        </div>
        <div class="linksContainer">
          <div class="link">
            <a target="_blank" href="https://www.linkedin.com/in/erkki-halinen-1104aa129/">
                <img src="./assets/iconmonstr-linkedin-1.svg"/>
            </a>
          </div>
          <div class="link">
            <a target="_blank" href="https://github.com/ErkHal">
                <img src="./assets/github.svg"/>
            </a>
          </div>
          <div class="email">
            <a target="_blank" href="mailto:erkkihalinen@gmail.com"><i class="fa fa-at"></i></a>
          </div>
        </div>
        <section class="text">
          <h2 class="title">About Me <i class="fa fa-male"></i></h2>
          <p>
            I'm a {{ getAge() }}-year old ICT engineering student, who likes coding
            with modern tools. I like to take the iniative when I'm starting a
            new project, and consider myself equal parts teamplayer and independent
            developer.

          </p>
          <p>
            I like to do a lot of programming in my free-time,
            since hobby projects are the best way to learn about new things.
            The best thing about starting a new project is when you get something
            to work for the first time, and you see the software starting to take
            the right shape.
            I also like to play a lot of video games !
          </p>
          <p>

          </p>
        </section>
        <section class="education">
            <h2 class="title">Education <i class="fa fa-graduation-cap"></i></h2>
            <p>
              2016 - Metropolia UAS: Bsc of Engineering
            </p>
        </section>
        <section class="jobs">
          <h2 class="title">Experience <i class="fa fa-star"></i></h2>
          <div class="job">
                <h5>May - August 2018 - F-Secure Corporation, Helsinki</h5>
                <p>Summer Trainee</p>
                <p></p>
                <p>AngularJS, Node.js, AWS, JavaEE, Spring, MySQL, Protractor, Jasmine</p>
          </div>
        </section>
        <section class="skills">
          <h2 class="title">Skills <i class="fa fa-wrench"></i></h2>
          <div class="flex">
            <div class="skill-section">
              <h4 class="subheader">Languages</h4>
              <p>Java (Android & Enterprise) <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>Javascript <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>Kotlin <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>C# <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>Swift <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>MySQL <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
            </div>

            <div class="skill-section">
              <h4 class="subheader">Frameworks</h4>
              <p>Node.js <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>Angular <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>Protractor <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>AngularJS <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>Spring <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
            </div>
            <div class="skill-section">
              <h4 class="subheader">Other</h4>
              <p>REST API development & integration <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>Linux OS Usage <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>IoT development <i class="fa fa-wrench"></i> <i class="fa fa-wrench"></i></p>
              <p>Unity Game Engine <i class="fa fa-wrench"></i></p>
              <p>Amazon Web Services <i class="fa fa-wrench"></i></p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
