@import "../../styles";

$break-small: 1000px;

$regular-text: #FFF;
$dark-text: #333;

//Here are the text colors and background colors for all sections
$first: #d2ffe8;
$first-text: $dark-text;
$second: #8bbabb;
$second-text: $dark-text;
$third: #6c7b95;
$third-text: $regular-text;
$fourth: #464159;
$fourth-text: $regular-text;
  
.content {
    align-content: center;
    justify-content: center;

    .centeredImg {
      text-align: center;
      align-content: center;

      img {
        padding: 1rem;
        max-width: 16rem;
        max-height: 16rem;
        border-radius: 50%;
      }
    }

    .text {
      flex: 1;
      background-color: $first;
      color: $first-text;
    }

    .education {
      background-color: $second;
      color: $second-text;
      p {
        font-size: 1.2rem;font-size: 1.2rem;
      }
    }

    .job {
      background-color: $third;
      list-style: none;
      padding: 1rem;
      color: $third-text;
    }

    .skill-section {
      background-color: $fourth;
      color: $fourth-text;
      width: 100%;
      .subheader {
        padding-top: 1rem;
      }
    }

    section {
      padding: 2rem;
      font-family: $font-family-text;
      text-align: center;
      color: $regular-text;

      .title {
        padding-bottom: 1rem;
      }
    }
  }

.flex {

  @media screen and (max-width: $break-small) {
    display: block;
  }
  display: flex;
  justify-content: space-between;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    display: inherit;
    align-content: center;
    justify-content: center;
    padding: 1%;
    margin-bottom: 1.9rem;

    img {
      width: 5rem;
      height: 5rem;

      &:hover {
        -webkit-filter: blur(5px);
        filter: blur(5px);
      }
    }
  }
  
  .email {
    display: inherit;
    align-content: center;
    justify-content: center;
    padding: 1%;
    font-size: 5rem;
    text-decoration-color: $first-text;
    
    a {
      color: $first-text;
    }

    &:hover {
      -webkit-filter: blur(5px);
      filter: blur(3px);
    }
  }
}