@import "../../styles";

$regular-text: #FFF;
$section-border-color: gray;

.container {

  display: flex;
  align-content: center;

  .content {
    width: 100%;
    align-content: center;
    justify-content: center;

    .centeredImg {
      text-align: center;
      align-content: center;

      img {
        padding: 1rem;
        max-width: 16rem;
        max-height: 16rem;
        border-radius: 50%;
      }
    }

    section {
      border-top: 1px solid $section-border-color; 
      padding: 2rem;
      font-family: $font-family-text;
      text-align: center;
      color: $regular-text;

      .education {
        p {
          font-size: 1.2rem;font-size: 1.2rem;
        }
      }

      .job {
        list-style: none;
        padding: 1rem;
      }

      .title {
        padding-bottom: 1rem;
      }
    }
  }
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    display: inherit;
    align-content: center;
    justify-content: center;
    padding: 1%;

    img {
      width: 5rem;
      height: 5rem;

      &:hover {
        -webkit-filter: blur(5px);
        filter: blur(5px);
      }
    }
  }
  
  .email {
    display: inherit;
    align-content: center;
    justify-content: center;
    padding: 1%;
    font-size: 5rem;
    text-decoration-color: $regular-text;
    
    a {
      color: $regular-text;
    }

    &:hover {
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
  }
}