@import "../../styles";

header {

  background-color: $base-color;

  ul {
    padding: 0px;
    height: 4rem;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    .green {
      background-color: $green;
      color: $base-color;
      &:hover {
        background-color: lighten($green, 10%);
      }
    }

    .orange {
      background-color: $orange;
      color: $base-color;
      &:hover {
        background-color: lighten($orange, 10%);
      }
    }

    .blue {
      background-color: $blue;
      color: $base-color;
      &:hover {
        background-color: lighten($blue, 10%);
      }
    }

    a {
      margin: 0 2px 0 2px;
      height: 100%;
      padding-top: 1rem;
      font-family: $font-family-text;
      width: 30%;
      text-align: center;
      justify-content: center;
      color: #FFF;

      text-decoration: none;
      outline: none;

      li {
        width: 100%;

        }
    }
  }
}
