/* You can add global styles to this file, and also import other style files */
$base-color:  #d2ffe8;
$font-family-text: "Montserrat",
                    "Montserrat",
                    Helvetica,
                    Arial,
                    sans-serif;

body {
    background-color: $base-color;
    margin: 0px;
    padding: 0px;
}
