/* You can add global styles to this file, and also import other style files */
$base-color: #EEE;
$font-family-text: "source-sans-pro",
                    "Helvetica Neue",
                    Helvetica,
                    Arial,
                    sans-serif;
$navBarBG: #555555;
$green: #3bc64e;
$orange: #f45c41;
$blue: #418bf4;
$purple: #d341f4;

body {

    background-color: $base-color;
    margin: 0px;
    padding: 0px;
}
